@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --primary-color: #522B29;
    --secondary-color: #37FF8B;
    --accent1-color: #51D6FF;

    --heading-font:'Libre Baskerville', Serif;
    --paragraph-font:'Libre Baskerville', Serif;

    --nav-background-color: #522B29;
    --nav-link-color: #51D6FF;
    --nav-hover-link-color: #37FF8B;
    --nav-hover-background-color: #51D6FF;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 20px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}